---
layout: default
title: Projects
---

	<div class="l-container">
				
		<div class="header">
			<header>
				<h1>Projects</h1>
			</header>
		</div>
		
		<div class="project">
			
			<img class="ribbon" src="../img/html5-goodness.png" width="228" height="127" alt="Html5 Goodness" />
		
			<div id="Carousel5" class="carousel slide">
				<div class="carousel-inner">
					<div class="item active"><img src="../img/worldpay-01.jpg" alt="Worldpay Online Payments screenshot" /></div>
					<div class="item"><img src="../img/worldpay-02.jpg" alt="Worldpay Online Payments screenshot" /></div>
					<div class="item"><img src="../img/worldpay-03.jpg" alt="Worldpay Online Payments screenshot" /></div>
				</div>
				<a class="left carousel-control" href="#Carousel5" data-slide="prev">&lsaquo;</a>
			    <a class="right carousel-control" href="#Carousel5" data-slide="next">&rsaquo;</a>
			</div>
			
			<header>
				<h1>Worldpay Online Payments</h1>
			</header>	
			<p>Working as part of the Weaver UX team, I created responsive templates and pattern libraries for the <a href="https://online.worldpay.com/">Worldpay Online Payments</a> portal.</p>
			
			<p>Technologies: HTML5, CSS3, JavaScript, AngularJS, Jekyll, Responsive Design</p>		
			
			<p>Client: <a href="http://www.weaverdigital.com/">Weaver</a></p>
		</div>
		
		<div class="project">
			<article>
				<img class="ribbon" src="../img/html5-goodness.png" width="228" height="127" alt="Html5 Goodness" />
			
				<div id="Carousel4" class="carousel slide">
					<div class="carousel-inner">
						<div class="item active"><img src="../img/jeffgoodman-01.jpg" alt="Jeff Goodman Studio screenshot" /></div>
						<div class="item"><img src="../img/jeffgoodman-02.jpg" alt="Jeff Goodman Studio screenshot" /></div>
						<div class="item"><img src="../img/jeffgoodman-03.jpg" alt="Jeff Goodman Studio screenshot" /></div>
					</div>
					<a class="left carousel-control" href="#Carousel4" data-slide="prev">&lsaquo;</a>
				    <a class="right carousel-control" href="#Carousel4" data-slide="next">&rsaquo;</a>
				</div>
			
				<header>
					<h1>Jeff Goodman Studio</h1>
				</header>	
				<p>A responsive site for acclaimed Canadian glass artists <a href="http://www.jeffgoodmanstudio.com/">Jeff Goodman Studio</a>. The site showcases the studio's glass vessels and architectural glass designs, delivering a consistent user experience across the wide range of screens found in today's web devices. </p>
				
				<p>Technologies: HTML5, CSS3, JavaScript, PHP, WordPress, Responsive Design</p>		
				
				<p>Client: <a href="http://www.jeffgoodmanstudio.com/">Jeff Goodman Studio</a></p>				
			</article>
			
			<p><a class="top-link" href="#top">Back to top</a></p>				
		</div>
		
		<div class="project">
			<article>
				<img class="ribbon" src="../img/html5-goodness.png" width="228" height="127" alt="Html5 Goodness" />
			
				<div id="Carousel3" class="carousel slide">
					<div class="carousel-inner">
						<div class="item active"><img src="../img/unWrapped-01.jpg" alt="PlayStation Unwrapped screenshot" /></div>
						<div class="item"><img src="../img/unWrapped-02.jpg" alt="PlayStation Unwrapped screenshot" /></div>
						<div class="item"><img src="../img/unWrapped-03.jpg" alt="PlayStation Unwrapped screenshot" /></div>
					</div>
					<a class="left carousel-control" href="#Carousel3" data-slide="prev">&lsaquo;</a>
				    <a class="right carousel-control" href="#Carousel3" data-slide="next">&rsaquo;</a>
				</div>
			
				<header>
					<h1>PlayStation Unwrapped</h1>
				</header>	
				<p>A playful Christmas giveaway for PlayStation's YouTube channel. I developed a custom web application to power the <em>Unwrapped</em> shake/spin gadget and aggregate PS3, PSP and PS Vita playlists into a single searchable interface. The campaign was localised for multiple participating countries and attracted around half a million visits. </p>
				<p>Technologies: HTML5, CSS3, JavaScript, PHP, MySQL, CakePHP, AmfPHP, YouTube API</p>
				<p>Employer: <a href="http://storiesbylove.com/">LOVE</a></p>
			</article>
			
			<p><a class="top-link" href="#top">Back to top</a></p>		
		</div>		
		
		<div class="project">			
			<article>
				<img class="ribbon" src="../img/html5-goodness.png" width="228" height="127" alt="Full of HTML5 Goodness" />
				
				<div id="Carousel2" class="carousel slide">
					<div class="carousel-inner">
						<div class="item active"><img src="../img/marden-1.jpg" alt="MAR-DEN screenshot" /></div>
						<div class="item"><img src="../img/marden-2.jpg" alt="MAR-DEN screenshot" /></div>
						<div class="item"><img src="../img/marden-3.jpg" alt="MAR-DEN screenshot" /></div>
					</div>
					<a class="left carousel-control" href="#Carousel2" data-slide="prev">&lsaquo;</a>
				    <a class="right carousel-control" href="#Carousel2" data-slide="next">&rsaquo;</a>
				</div>
			
				<header>
					<h1>MAR-DEN 20th Century Furniture</h1>
				</header>	
				<p>A content managed website and online store developed with WordPress and Big Cartel for 20th Century furniture curators and retailers, <a href="http://www.mar-den.co.uk">MAR-DEN</a>.</p>
				<p>Technologies: HTML5, CSS3, JavaScript, PHP, WordPress, Big Cartel</p>
				<p>Client: MAR-DEN</p>
			</article>				
				
			<p><a class="top-link" href="#top">Back to top</a></p>	
		</div>	
		
		<div class="project">
			<article>				
				<img class="ribbon" src="../img/html5-goodness.png" width="228" height="127" alt="Html5 Goodness" />

				<div id="Carousel1" class="carousel slide">
					<div class="carousel-inner">
						<div class="item active"><img src="../img/sweetshop-1.jpg" alt="The Fat Duck Sweetshop screenshot" /></div>
						<div class="item"><img src="../img/sweetshop-2.jpg" alt="The Fat Duck Sweetshop screenshot" /></div>
					</div>
					<a class="left carousel-control" href="#Carousel1" data-slide="prev">&lsaquo;</a>
				    <a class="right carousel-control" href="#Carousel1" data-slide="next">&rsaquo;</a>
				</div>			
				<header>
					<h1>The Fat Duck Sweetshop</h1>
				</header>	
				<p>A custom web application that invites diners at Heston Blumenthal's Fat Duck restaurant to an exclusive viewing of The Neighbourhood's <a href="http://www.the-neighbourhood.com/projects/heston-blumenthals-sweet-shop">'Like a Kid in a Sweetshop'</a> animation. The application integrates with the restaurant's reservation system to create and send automated email invitations. </p>
				<p>Technologies: HTML5, CSS3, JavaScript, CakePHP, MySQL, CakePHP, Responsive Design</p>
				<p>Client: <a href="http://www.thefatduck.co.uk/">The Fat Duck</a></p>
			</article>
			
			<p><a class="top-link" href="#top">Back to top</a></p>	
		</div>
