---
layout: default
title: Home
---

<div class="l-background">
  <section>
    <div class="cereal">
      <header>
        <h1>
          <img
            src="/img/mega-bites-2.png"
            alt="Mega Bites, Full of HTML5 goodness."
          />
          <img
            src="/img/rich.png"
            class="cereal-rich"
            alt="Rich Higgins, Freelance Front End Developer in Manchester, UK."
          />
          <img
            src="/img/bowl.png"
            class="cereal-bowl"
            alt="CSS3! JavaScript! PHP!"
          />
          <span class="cereal-mask"></span>
        </h1>
      </header>
    </div>
  </section>
</div>

<div class="main">
  <div id="about">
    <div class="editable">
      <p>
        Hi, I&rsquo;m Rich. I&rsquo;m a freelance web developer based in
        Manchester, England.
      </p>
      <p>
        I work with direct clients and leading agencies helping deliver digital
        projects of all shapes and sizes across the globe.
      </p>

      <p>
        On the front end I develop highly performant websites using modern
        architectures like <a href="https://jamstack.org/">JAMstack</a> and
        technologies like <a href="https://www.gatsbyjs.org/">Gatsby</a>,
        <a href="https://www.algolia.com/">Algolia</a>,
        <a href="https://www.contentful.com/">Contentful</a> and
        <a href="https://www.netlify.com/">Netlify</a>.
      </p>

      <p>
        I've also got stacks of experience working with other technologies such
        as PHP, MySQL, WordPress, Jekyll, Fractal, Big Cartel and Python/Django.
      </p>
      <p>
        You can take a look at
        <a href="/projects">a few of my projects here</a>.
      </p>
    </div>
  </div>

  <p><a class="top-link" href="#top">Back to top</a></p>

  <h2 id="contact">Contact Me</h2>

  <ul class="main-contact">
    <li>
      <a href="mailto:hello@iamrichhiggins.com"
        ><span class="fs1" aria-hidden="true" data-icon="&#xe003;"></span
        >hello@iamrichhiggins.com</a
      >
    </li>
    <li>
      <a href="https://twitter.com/richhiggins"
        ><span class="fs1" aria-hidden="true" data-icon="&#xe001;"></span
        >@richhiggins</a
      >
    </li>
    <li>
      <a href="http://lnkd.in/cexq5v"
        ><span class="fs1" aria-hidden="true" data-icon="&#xe000;"></span
        >LinkedIn</a
      >
    </li>
  </ul>

  <p><a class="top-link" href="#top">Back to top</a></p>
</div>
