	
		<nav>		
			<div class="global-nav" id="GlobalNav">
				<div class="l-container global-nav-container">
					<ul class="global-nav-list">
						<li><a href="/" {% if page.title == 'Home' %}class="active"{% endif %}>Home</a></li>
						<li><a href="/#about" data-scroll="#about">About Me</a></li>
						<li><a href="/projects" {% if page.title == 'Projects' %}class="active"{% endif %}>Projects</a></li>
						<li><a href="/blog" {% if page.title == 'Blog' %}class="active"{% endif %}>Blog</a></li>
						<li><a href="/#contact" data-scroll="#contact">Contact Me</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<footer>
			<div class="footer">
				<h2>Credits <span class="fs1" aria-hidden="true" data-icon="&#xe004;"></span></h2>
				<p>Website design by <a href="http://www.jakeread.com/">Jake Read</a>, photography by <a href="http://www.jonhillphotographer.co.uk/">Jon Hill</a>, re-touching by <a href="http://www.russstreet.com">Russ Street</a>.</p>		
			</div>	
		</footer>
	
	<!--[if lte IE 7]><script src="/js/lte-ie7.js"></script><![endif]-->
	<!--[if lt IE 9]>
		<script src="/js/selectivizr.js"></script>
		<script src="/js/respond.min.js"></script>
	<![endif]-->	

	<script type="text/javascript">
				
		if(!document.location.href.match(/local|192/)){	//	GA
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-9347439-5']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
	
		}
		else{	//	LR
			document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
		}
		
	</script>