<head>
  <meta charset="UTF-8" />
  <title>
    Rich Higgins - Freelance Front End Developer working with Gatsby,
    Contentful, Algolia, Netlify in Manchester, UK.
  </title>
  <meta
    name="description"
    content="I develop highly performant websites using modern architectures like JAMstack and technologies including Gatsby, Contentful, Algolia and Netlify."
  />
  <meta
    name="keywords"
    content="Web Developer, web development, digital, HTML5, CSS3, JavaScript, PHP, MySQL Responsive Web Design, CakePHP, WordPress, Big Cartel, LAMP, Technical Direction, Manchester, England, UK"
  />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <!--
    <link rel="stylesheet" href="/css/main.css?v={{ 'now' | date: "%s" }}" />
  -->
  <style>
    /* critical CSS */
    {% case page.title %}
    {% when 'Home' %}
    	{% include _css/home.css %}
    {% when 'Projects' %}
    	{% include _css/projects.css %}
    {% endcase %}
  </style>

  <script>
    /*! loadCSS: load a CSS file asynchronously. [c]2014 @scottjehl, Filament Group, Inc. Licensed MIT */
    function loadCSS( href, before, media, callback ){
    	"use strict";
    	// Arguments explained:
    	// `href` is the URL for your CSS file.
    	// `before` optionally defines the element we'll use as a reference for injecting our <link>
    	// By default, `before` uses the first <script> element in the page.
    	// However, since the order in which stylesheets are referenced matters, you might need a more specific location in your document.
    	// If so, pass a different reference element to the `before` argument and it'll insert before that instead
    	// note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
    	var ss = window.document.createElement( "link" );
    	var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
    	var sheets = window.document.styleSheets;
    	ss.rel = "stylesheet";
    	ss.href = href;
    	// temporarily, set media to something non-matching to ensure it'll fetch without blocking render
    	ss.media = "only x";
    	// DEPRECATED
    	if( callback ) {
    		ss.onload = callback;
    	}

    	// inject link
    	ref.parentNode.insertBefore( ss, ref );
    	// This function sets the link's media back to `all` so that the stylesheet applies once it loads
    	// It is designed to poll until document.styleSheets includes the new sheet.
    	ss.onloadcssdefined = function( cb ){
    		var defined;
    		for( var i = 0; i < sheets.length; i++ ){
    			if( sheets[ i ].href && sheets[ i ].href === ss.href ){
    				defined = true;
    			}
    		}
    		if( defined ){
    			cb();
    		} else {
    			setTimeout(function() {
    				ss.onloadcssdefined( cb );
    			});
    		}
    	};
    	ss.onloadcssdefined(function() {
    		ss.media = media || "all";
    	});
    	return ss;
    }
    loadCSS( "/css/main.css?v={{ 'now' | date: "%s" }}" );
  </script>

  <script>
    /*! loadJS: load a JS file asynchronously. [c]2014 @scottjehl, Filament Group, Inc. (Based on http://goo.gl/REQGQ by Paul Irish). Licensed MIT */
    function loadJS( src, cb ){
    	"use strict";
    	var ref = window.document.getElementsByTagName( "script" )[ 0 ];
    	var script = window.document.createElement( "script" );
    	script.src = src;
    	script.async = true;
    	ref.parentNode.insertBefore( script, ref );
    	if (cb && typeof(cb) === "function") {
    		script.onload = cb;
    	}
    	return script;
    }
    loadJS( "/js/scripts.js?v={{ 'now' | date: "%s" }}" );
  </script>
</head>
