	<header>
		<div class="l-corner-snip"></div>
		<h1 class="l-brand"><img src="../img/svg/richies.svg" alt="Rich Higgins - Freelance PHP &amp; Front End Web Developer in Manchester, UK" /></h1>
	</header>
	
	<nav>		
		<div class="global-nav global-nav-header">
			<div class="l-container global-nav-container">
				<a class="nav-toggle" href="#GlobalNav">Menu</a>
			</div>
		</div>
	</nav>
