@import 'variables';

/*	about
  ------------------------------------------- */
.about h1{
	font-family: 'MaggieMoo-Regular';
	font-size:20px;	
	margin-top:30px;
}

@media screen and (min-width: $small-break) {
	.about h1{
		font-size:30px;	
		margin-top:50px;
	}	
}