@import 'variables';

@font-face {
    font-family: 'MaggieMoo-Regular';
    src: url('../fonts/maggie_moo-webfont.eot');
    src: url('../fonts/maggie_moo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/maggie_moo-webfont.woff') format('woff'),
         url('../fonts/maggie_moo-webfont.ttf') format('truetype'),
         url('../fonts/maggie_moo-webfont.svg#maggie_mooregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

body{
	font-size:16px;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background:#0091CB;
	color:#fff;
	-webkit-text-size-adjust: 100%;
	
	@media screen and (min-width: $large-break) {
		font-size:18px;
	}
}

img{
	border:none;
}

a{
	color:#ffed00;
	text-decoration:none;	
}

p{
	line-height:1.3;	
}