@import 'variables';

/*	cereal (mega-bites)
  ------------------------------------------- */
.cereal{
	overflow:hidden;
//	width:80%;
}

@media screen and (min-width: $small-break) {
	.cereal {
//		min-height:514px;
	}	
}

.cereal h1{
	margin:auto;
	padding:10px 0 0;
	width:100%;
	max-width:960px;

	@media screen and (min-width: $small-break) {
		padding:20px 0 0;
	}
	
	@media screen and (min-width: $large-break) {
		padding:50px 0 0;
	}
}

.cereal h1 img{
	width:96.875%;
	display:block;
	position:relative;
	z-index:1;
}
	
@media screen and (min-width: $small-break) {
	.cereal h1 img{
	//	width:98.4375%;//315px;
		width:62.5%;//600px;
		margin-left:5.208333333333%; // 50px
	}
}

.cereal h1 .cereal-rich{
	width:50%;
	margin:-32.8125% 0 0 50%; // -105px 0 0 160px;
}

@media screen and (min-width: $small-break) {
	.cereal h1 .cereal-rich{
		z-index:0;
		width:31.25%;//300px;
//		margin:-480px 0 0 580px;
		margin:-50% 0 0 60.4167%;
	}	
}

.cereal h1 .cereal-bowl{
	width:85%;
	z-index:3;
	margin:-60.9375% 0 0 -8.4375%; // -197px 0 0 -27px
}

@media screen and (min-width: $small-break) {
	.cereal h1 .cereal-bowl{
		width:57.2917%;//550px;
//		margin:-260px 0 0 430px;
		margin:-27.08333% 0 0 44.7917%;
	}
}

.cereal-mask{
	position:relative;
	height:0;
	padding-bottom:59.375%;//190px;
	margin-top:-59.375%;
	z-index:2;
	background:url(/img/background.png) left top repeat-x;
	background-size:100%;
	display:block;
}

@media screen and (min-width: $small-break) {
	.cereal-mask{
		display:none;
	}
}
