@import 'variables';

/*	global-nav
  ------------------------------------------- */
.global-nav{
	min-height:	40px;
	overflow:hidden;
}

@media screen and (min-width: $large-break) {
	.global-nav{
		background:#1b6f98;	
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}	
}

.global-nav-header{
	background:#1b6f98;
	position:relative;
}

@media screen and (min-width: $large-break) {
	.global-nav-header{
		position:relative;
	}
}

a.nav-toggle{
	float:right;
	color:#fff;
	font-family: 'MaggieMoo-Regular';
	font-size:18px;
	text-decoration:none;
	padding:10px;
}

@media screen and (min-width: $large-break) {
	a.nav-toggle{
		display:none;
	}
}

a.is-active{
	color:#ffed00; /* nav open state */
	border-color:#0091cb;	
}

@media screen and (min-width: $large-break) {
	.global-nav-container{
		text-align:center;
	}	
}

.global-nav-list{
	margin:0;
	padding:3px 0 0;
	list-style:none;
}

@media screen and (min-width: $small-break) {
	.global-nav-list{
		padding:35px 0 0;
	}	
}

.global-nav-list > li > a{
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	padding:12px 10px 8px;
	display:block;	
	border-bottom:1px solid #fff;
	font-family: 'MaggieMoo-Regular';
	font-size:18px;
	letter-spacing:1px;
	position:relative;
	z-index:1;
	
	&.active{
		color:#ffed00;
	}
}

.global-nav-list-header{
	padding:35px 0 0;
	clear:right;
	display:none;
}

@media screen and (min-width: $small-break) {
	.global-nav-list-header{
		padding:59px 0 0; // larger brand
	}
}

.is-visible{
	display:block; /* open js nav state */
}

@media screen and (min-width: $large-break) {
	.is-visible{
		display:none; // not visible on desktop
	}	
}

.global-nav-list-header > li > a{
	border-bottom:1px solid #0091cb;
	padding:10px 10px 8px;
}

.global-nav-list > li > a:hover{//, .global-nav-list > li > a.selected{
	color:#ffed00;
}

@media screen and (min-width: $large-break) {
	.global-nav-list{
		padding:11px 0 0 166px;
		margin:auto;
	}
	.global-nav-list > li{
		float:left;
		margin-left:30px;
		padding-left:2px;
	}
	.global-nav-list > li:first-child{
		list-style:none;
		padding:0;
	}
	.global-nav-list > li > a{
		display:inline;
		border:0;
		padding:0;
	}
	@-moz-document url-prefix() {
	    .global-nav-list > li{
			padding-left:6px;
		}
	}	
}