@import 'variables';

/*	header
  ------------------------------------------- */
.header h1{
	font-family: 'MaggieMoo-Regular';
	font-size:20px;	
	margin:40px 0 20px;
	padding:0 10px;
}

@media screen and (min-width: $small-break) {
	.header h1{
		font-size:30px;	
		margin-top:50px;
		padding:0;
	}	
}