@import 'variables';

.l-corner-snip{
	background:#BF1622;
	border:3px solid #fae89e;
	width:300px;
	height:300px;
	position:absolute;
	top:-211px;
	left:-238px;
	z-index:2;
	-moz-transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	transform: rotate(50deg);

	@media screen and (min-width: $small-break) {
		left:-200px;
	}

	@media screen and (min-width: $desktop-break) {
		border:6px solid #fae89e;
		left:-125px; // desktop		
		-moz-transform: rotate(59.5deg);
		-webkit-transform: rotate(59.5deg);
		-o-transform: rotate(59.5deg);
		-ms-transform: rotate(59.5deg);
		transform: rotate(59.5deg);
	}
}

/*	l-brand
  ------------------------------------------- */
.l-brand{
	position:absolute;
	top:0;
	left:0;
	width:60px;
	margin:5px 0 0 10px;
	z-index:2;
//	display:none;
	
	@media screen and (min-width: $small-break) {
		width:80px;
		margin:12px 0 0 18px;
	}

	@media screen and (min-width: $desktop-break) {
		width:111px;
		margin:15px 0 0 43px;
	}
}

.l-brand > img{
	width:100%;
	height:auto;
}

/*	l-container
  ------------------------------------------- */
.l-container{
	margin:auto;
	max-width:697px;
}

/*	l-background
  ------------------------------------------- */
.l-background{
	@media screen and (min-width: $small-break) {
		background:url(/img/background.jpg) center bottom repeat-x;
		padding-bottom:4.5573%;//2.5347%;
		background-size:75%;
		overflow:hidden;
	}
	@media screen and (min-width: $desktop-break) {
		padding-bottom:36px;
		background-size:720px;
	}
}

.lt-ie9 .l-background{
	background-position:center bottom;
}