@import 'variables';

/*	footer
  ------------------------------------------- */
.main{
	max-width:677px;
	margin:auto;
	padding:0 10px;
}

@media screen and (min-width: $desktop-break) {
	.main{
		max-width:697px;
		padding:0;
	}
}

.main > p:first-child{
	margin-top:0;
	padding-top:1em;	
	@media screen and (min-width: $small-break) {
		padding-top:25px;
	}
}

.main h2{
	font-family: 'MaggieMoo-Regular';
	font-size:20px;	
	margin-top:20px;
	padding-top:10px;
}

.main h2 span{
	font-size:16px;
}

ul.main-contact{
	list-style:none;
	margin:0;
	padding:0;
}

ul.main-contact > li{
	margin-bottom:5px;
}

ul.main-contact > li > a{
	color:#fff;
	display:block;
	text-decoration:none;
}

ul.main-contact > li > a:hover{
	color:#ffed00;
}

ul.main-contact > li > a > span{
	font-size:40px;
	vertical-align:middle;
	margin-right:10px;	
}

@media screen and (min-width: $small-break) {
	ul.main-contact{
		overflow:hidden;
	}
	ul.main-contact > li{
		float:left;
		width:50%;
		margin-bottom:11.25px;
	}	
	.main h2{
		font-size:30px;	
		margin-top:50px;
	}	
	.main h2 span{
		font-size:22px;
	}	
}