@import 'variables';

/*	project
  ------------------------------------------- */
.post{
	width:100%;
	max-width:697px;
	margin:0 auto 30px;
	position:relative;
}

@media screen and (min-width: $large-break) {	
	.post{
		margin-bottom:60px;
	}
}

.post img{
	display:block;
	width:100%;
	height:auto;
	margin:auto;
}

@media screen and (min-width: $large-break) {	
	.post img{
//		max-width:250px;
	}
}

.post img.ribbon{
	position:absolute;
	top:-21px;
	right:0px;
	width:auto;
	box-shadow:none;
	z-index:12;
	width:35.625%;
}

@media screen and (min-width: $large-break) {	
	.post img.ribbon{
		position:absolute;
		top:-42px;
		right:-60px;
		width:auto;
		box-shadow:none;
		z-index:12;
		display:block;
	}
}

.post h2{
	font-size:20px;	
	margin-top:30px;
	padding:0 10px;	
}

@media screen and (min-width: $desktop-break) {
	.post h2{
		padding:0;	
	}	
}

.post .time{
	padding:0 10px;	
}

@media screen and (min-width: $desktop-break) {
	.post .time{
		padding:0;	
	}	
}

.post p{
	padding:0 10px;	
}

@media screen and (min-width: $desktop-break) {
	.post p{
		padding:0;	
	}	
}

/* Carousel base class (Twitter bootstrap carousel) */
.carousel {
	position: relative;
	width:100%;
	max-width:960px;
	margin:15px auto 0;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);	
}

.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.carousel-inner > .item {
	position: relative;
	display: none;
	-webkit-transition: 0.5s ease-in-out left;
	-moz-transition: 0.5s ease-in-out left;
	-o-transition: 0.5s ease-in-out left;
	 transition: 0.5s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
	display: block;
}

.carousel-inner > .active {
	left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
	position: absolute;
	top: 0;
	width: 100%;
}

.carousel-inner > .next {
	left: 100%;
}

.carousel-inner > .prev {
	left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
	left: 0;
}

.carousel-inner > .active.left {
	left: -100%;
}

.carousel-inner > .active.right {
	left: 100%;
}

.carousel-control {
	position: absolute;
	top: 40%;
	left: 15px;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	opacity: 0.5;
}

.carousel-control.right {
	right: 15px;
	left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
	color: #ffffff;
	text-decoration: none;
	opacity: 0.9;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel{
	margin:auto;
}

.carousel .container {
	position: relative;
	width:100%;
	z-index: 9;
}

.carousel-inner{
	/* responsive height 392/697px */
	padding-bottom:56.2410%;
//	padding-bottom:76.3271%;

}

.carousel-control {
	font-size:80px;
	margin-top: 0;
	border: 0;
	z-index: 10;
	left:0;
	width: 118px;
	height: 79px;	
	opacity:1;
	background:url(/img/carousel-left.png) left top no-repeat;		
	font-family: 'MaggieMoo-Regular';
	line-height:0.55;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display:none;
}

@media screen and (min-width: $desktop-break) {
	.carousel-control {
		display:block;
		font-size:80px;
		top:45%;
		left:-80px;
	}
}

.carousel-control.right{
	width: 119px;	
	background:url(/img/carousel-right.png) left top no-repeat;	
}

@media screen and (min-width: $desktop-break) {
	.carousel-control.right {
		right:-80px;
	}
}

.carousel-control:hover,
.carousel-control:focus {
	color: #ffffff;
	text-decoration: none;
	opacity: 1;
}

.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width:960px;
	z-index:11;
}