@import 'variables';

/*	text
  ------------------------------------------- */
.text{
	max-width:677px;
	margin:auto;
	padding:0 10px;
}

@media screen and (min-width: $desktop-break) {
	.text{
		max-width:697px;
		padding:0;
	}	
}

.text h1{
	font-family: 'MaggieMoo-Regular';
	font-size:20px;	
	margin-top:30px;
}

@media screen and (min-width: $small-break) {
	.text h1{
		font-size:30px;	
		margin-top:50px;
	}	
}