---
layout: default
title: Blog
---

<div class="l-container">
		
	<div class="header">
		<header>
			<h1>Blog</h1>
		</header>
	</div>
	
{% for post in site.posts %}
	<article>
		<div class="post">
			<header>
				<h2>{{ post.title }}</h2>
				<time datetime="{{ post.date | date: "%Y-%m-%d %H:%M" }}">
					<span class="time">{{ post.date | date: "%d %B %Y" }}</span>
				</time>
			</header>
			
			{{ post.content }}
		</div>
	</article>
{% endfor %}	

</div>