<!doctype html>
<html lang="en">
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->

  {% include head.html %}

  <body>

    {% include header.html %}

		{{ content }}

    {% include footer.html %}

  </body>

</html>
