body{ font-size: 16px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-family: Arial, Helvetica, sans-serif; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(0, 145, 203); color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }
@media screen and (min-width: 768px){
body{ font-size: 18px; }
}
img{ border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; }
a{ color: rgb(255, 237, 0); text-decoration: none; }
p{ line-height: 1.3; }
.l-corner-snip{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(191, 22, 34); border-top-width: 3px; border-right-width: 3px; border-bottom-width: 3px; border-left-width: 3px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(250, 232, 158); border-right-color: rgb(250, 232, 158); border-bottom-color: rgb(250, 232, 158); border-left-color: rgb(250, 232, 158); width: 300px; height: 300px; position: absolute; top: -211px; left: -238px; z-index: 2; -webkit-transform: rotate(50deg); background-position: initial initial; background-repeat: initial initial; }
@media screen and (min-width: 600px){
.l-corner-snip{ left: -200px; }
}
@media screen and (min-width: 960px){
.l-corner-snip{ border-top-width: 6px; border-right-width: 6px; border-bottom-width: 6px; border-left-width: 6px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(250, 232, 158); border-right-color: rgb(250, 232, 158); border-bottom-color: rgb(250, 232, 158); border-left-color: rgb(250, 232, 158); left: -125px; -webkit-transform: rotate(59.5deg); }
}
.l-brand{ position: absolute; top: 0px; left: 0px; width: 60px; margin-top: 5px; margin-right: 0px; margin-bottom: 0px; margin-left: 10px; z-index: 2; }
@media screen and (min-width: 600px){
.l-brand{ width: 80px; margin-top: 12px; margin-right: 0px; margin-bottom: 0px; margin-left: 18px; }
}
@media screen and (min-width: 960px){
.l-brand{ width: 111px; margin-top: 15px; margin-right: 0px; margin-bottom: 0px; margin-left: 43px; }
}
.l-brand > img{ width: 100%; height: auto; }
.l-container{ margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; max-width: 697px; }
@media screen and (min-width: 600px){
.l-background{ background-image: url(/img/background.jpg); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; padding-bottom: 4.5573%; background-size: 75% ; overflow-x: hidden; overflow-y: hidden; background-position: 50% 100%; background-repeat: repeat no-repeat; }
}
@media screen and (min-width: 960px){
.l-background{ padding-bottom: 36px; background-size: 720px ; }
}
.global-nav{ min-height: 40px; overflow-x: hidden; overflow-y: hidden; }
@media screen and (min-width: 768px){
.global-nav{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(27, 111, 152); position: absolute; top: 0px; left: 0px; width: 100%; background-position: initial initial; background-repeat: initial initial; }
}
.global-nav-header{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(27, 111, 152); position: relative; background-position: initial initial; background-repeat: initial initial; }
@media screen and (min-width: 768px){
.global-nav-header{ position: relative; }
}
a.nav-toggle{ float: right; color: rgb(255, 255, 255); font-family: MaggieMoo-Regular; font-size: 18px; text-decoration: none; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; }
@media screen and (min-width: 768px){
a.nav-toggle{ display: none; }
}
@media screen and (min-width: 768px){
.global-nav-container{ text-align: center; }
}
.global-nav-list{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; list-style-type: none; list-style-position: initial; list-style-image: initial; }
@media screen and (min-width: 600px){
.global-nav-list{ padding-top: 35px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
.global-nav-list > li > a{ color: rgb(255, 255, 255); text-decoration: none; text-transform: uppercase; padding-top: 12px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; display: block; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(255, 255, 255); font-family: MaggieMoo-Regular; font-size: 18px; letter-spacing: 1px; position: relative; z-index: 1; }
.global-nav-list-header{ padding-top: 35px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; clear: right; display: none; }
@media screen and (min-width: 600px){
.global-nav-list-header{ padding-top: 59px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
.global-nav-list-header > li > a{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(0, 145, 203); padding-top: 10px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; }
@media screen and (min-width: 768px){
.global-nav-list{ padding-top: 11px; padding-right: 0px; padding-bottom: 0px; padding-left: 166px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; }
.global-nav-list > li{ float: left; margin-left: 30px; padding-left: 2px; }
.global-nav-list > li:first-child{ list-style-type: none; list-style-position: initial; list-style-image: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.global-nav-list > li > a{ display: inline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
.cereal{ overflow-x: hidden; overflow-y: hidden; }
.cereal h1{ margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; padding-top: 10px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; width: 100%; max-width: 960px; }
@media screen and (min-width: 600px){
.cereal h1{ padding-top: 20px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
@media screen and (min-width: 768px){
.cereal h1{ padding-top: 50px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
.cereal h1 img{ width: 96.875%; display: block; position: relative; z-index: 1; }
@media screen and (min-width: 600px){
.cereal h1 img{ width: 62.5%; margin-left: 5.208333333333%; }
}
.cereal h1 .cereal-rich{ width: 50%; margin-top: -32.8125%; margin-right: 0px; margin-bottom: 0px; margin-left: 50%; }
@media screen and (min-width: 600px){
.cereal h1 .cereal-rich{ z-index: 0; width: 31.25%; margin-top: -50%; margin-right: 0px; margin-bottom: 0px; margin-left: 60.4167%; }
}
.cereal h1 .cereal-bowl{ width: 85%; z-index: 3; margin-top: -60.9375%; margin-right: 0px; margin-bottom: 0px; margin-left: -8.4375%; }
@media screen and (min-width: 600px){
.cereal h1 .cereal-bowl{ width: 57.2917%; margin-top: -27.08333%; margin-right: 0px; margin-bottom: 0px; margin-left: 44.7917%; }
}
.cereal-mask{ position: relative; height: 0px; padding-bottom: 59.375%; margin-top: -59.375%; z-index: 2; background-image: url(/img/background.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: 100% ; display: block; background-position: 0% 0%; background-repeat: repeat no-repeat; }
@media screen and (min-width: 600px){
.cereal-mask{ display: none; }
}
.main{ max-width: 677px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; padding-top: 0px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px; }
@media screen and (min-width: 960px){
.main{ max-width: 697px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
.main > p:first-child{ margin-top: 0px; padding-top: 1em; }
@media screen and (min-width: 600px){
.main > p:first-child{ padding-top: 25px; }
}