body{ font-size: 16px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; font-family: Arial, Helvetica, sans-serif; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(0, 145, 203); color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }
@media screen and (min-width: 768px){
body{ font-size: 18px; }
}
img{ border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; }
a{ color: rgb(255, 237, 0); text-decoration: none; }
p{ line-height: 1.3; }
.l-corner-snip{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(191, 22, 34); border-top-width: 3px; border-right-width: 3px; border-bottom-width: 3px; border-left-width: 3px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(250, 232, 158); border-right-color: rgb(250, 232, 158); border-bottom-color: rgb(250, 232, 158); border-left-color: rgb(250, 232, 158); width: 300px; height: 300px; position: absolute; top: -211px; left: -238px; z-index: 2; -webkit-transform: rotate(50deg); background-position: initial initial; background-repeat: initial initial; }
@media screen and (min-width: 600px){
.l-corner-snip{ left: -200px; }
}
@media screen and (min-width: 960px){
.l-corner-snip{ border-top-width: 6px; border-right-width: 6px; border-bottom-width: 6px; border-left-width: 6px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(250, 232, 158); border-right-color: rgb(250, 232, 158); border-bottom-color: rgb(250, 232, 158); border-left-color: rgb(250, 232, 158); left: -125px; -webkit-transform: rotate(59.5deg); }
}
.l-brand{ position: absolute; top: 0px; left: 0px; width: 60px; margin-top: 5px; margin-right: 0px; margin-bottom: 0px; margin-left: 10px; z-index: 2; }
@media screen and (min-width: 600px){
.l-brand{ width: 80px; margin-top: 12px; margin-right: 0px; margin-bottom: 0px; margin-left: 18px; }
}
@media screen and (min-width: 960px){
.l-brand{ width: 111px; margin-top: 15px; margin-right: 0px; margin-bottom: 0px; margin-left: 43px; }
}
.l-brand > img{ width: 100%; height: auto; }
.l-container{ margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; max-width: 697px; }
.global-nav{ min-height: 40px; overflow-x: hidden; overflow-y: hidden; }
@media screen and (min-width: 768px){
.global-nav{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(27, 111, 152); position: absolute; top: 0px; left: 0px; width: 100%; background-position: initial initial; background-repeat: initial initial; }
}
.global-nav-header{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(27, 111, 152); position: relative; background-position: initial initial; background-repeat: initial initial; }
@media screen and (min-width: 768px){
.global-nav-header{ position: relative; }
}
a.nav-toggle{ float: right; color: rgb(255, 255, 255); font-family: MaggieMoo-Regular; font-size: 18px; text-decoration: none; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; }
@media screen and (min-width: 768px){
a.nav-toggle{ display: none; }
}
@media screen and (min-width: 768px){
.global-nav-container{ text-align: center; }
}
.global-nav-list{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 3px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; list-style-type: none; list-style-position: initial; list-style-image: initial; }
@media screen and (min-width: 600px){
.global-nav-list{ padding-top: 35px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
.global-nav-list > li > a{ color: rgb(255, 255, 255); text-decoration: none; text-transform: uppercase; padding-top: 12px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; display: block; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(255, 255, 255); font-family: MaggieMoo-Regular; font-size: 18px; letter-spacing: 1px; position: relative; z-index: 1; }
.global-nav-list-header{ padding-top: 35px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; clear: right; display: none; }
@media screen and (min-width: 600px){
.global-nav-list-header{ padding-top: 59px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
.global-nav-list-header > li > a{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(0, 145, 203); padding-top: 10px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; }
@media screen and (min-width: 768px){
.global-nav-list{ padding-top: 11px; padding-right: 0px; padding-bottom: 0px; padding-left: 166px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; }
.global-nav-list > li{ float: left; margin-left: 30px; padding-left: 2px; }
.global-nav-list > li:first-child{ list-style-type: none; list-style-position: initial; list-style-image: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.global-nav-list > li > a{ display: inline; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
.header h1{ font-family: MaggieMoo-Regular; font-size: 20px; margin-top: 40px; margin-right: 0px; margin-bottom: 20px; margin-left: 0px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px; }
@media screen and (min-width: 600px){
.header h1{ font-size: 30px; margin-top: 50px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
.project{ width: 100%; max-width: 697px; margin-top: 0px; margin-right: auto; margin-bottom: 30px; margin-left: auto; position: relative; }
@media screen and (min-width: 768px){
.project{ margin-bottom: 60px; }
}
.project img{ width: 100%; height: auto; }
.project img.ribbon{ position: absolute; top: -21px; right: 0px; box-shadow: none; z-index: 12; width: 35.625%; }
@media screen and (min-width: 768px){
.project img.ribbon{ position: absolute; top: -42px; right: -60px; width: auto; box-shadow: none; z-index: 12; display: block; }
}
.project h1{ font-size: 20px; margin-top: 30px; padding-top: 0px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px; }
@media screen and (min-width: 960px){
.project h1{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
.project p{ padding-top: 0px; padding-right: 10px; padding-bottom: 0px; padding-left: 10px; }
@media screen and (min-width: 960px){
.project p{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
}
.carousel{ position: relative; width: 100%; max-width: 960px; margin-top: 15px; margin-right: auto; margin-bottom: 0px; margin-left: auto; box-shadow: rgba(0, 0, 0, 0.199219) 5px 5px 5px; }
.carousel-inner{ position: relative; width: 100%; overflow-x: hidden; overflow-y: hidden; }
.carousel-inner > .item{ position: relative; display: none; -webkit-transition-property: left; -webkit-transition-duration: 0.5s; -webkit-transition-timing-function: ease-in-out; -webkit-transition-delay: initial; }
.carousel-inner > .item > img{ display: block; line-height: 1; }
.carousel-inner > .active{ display: block; }
.carousel-inner > .active{ left: 0px; }
.carousel-control{ position: absolute; top: 40%; left: 15px; width: 40px; height: 40px; margin-top: -20px; font-size: 60px; font-weight: 100; line-height: 30px; color: rgb(255, 255, 255); text-align: center; opacity: 0.5; }
.carousel-control.right{ right: 15px; left: auto; }
.carousel{ margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; }
.carousel-inner{ padding-bottom: 56.241%; }
.carousel-control{ font-size: 80px; margin-top: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; z-index: 10; left: 0px; width: 118px; height: 79px; opacity: 1; background-image: url(/img/carousel-left.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; font-family: MaggieMoo-Regular; line-height: 0.55; text-shadow: rgba(0, 0, 0, 0.199219) 2px 2px 2px; display: none; background-position: 0% 0%; background-repeat: no-repeat no-repeat; }
@media screen and (min-width: 960px){
.carousel-control{ display: block; font-size: 80px; top: 45%; left: -80px; }
}
.carousel-control.right{ width: 119px; background-image: url(/img/carousel-right.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-position: 0% 0%; background-repeat: no-repeat no-repeat; }
@media screen and (min-width: 960px){
.carousel-control.right{ right: -80px; }
}
.carousel img{ position: absolute; top: 0px; left: 0px; width: 100%; max-width: 960px; z-index: 11; }